img {
    max-height: 65vh;
    max-width: 80vh;
}

.movie-card {
    flex: 0 0 300px;
}
.overview {
    max-height: 125px;
    overflow: hidden;
}
.card-body {
    background-color: #fff;
}
.checked {
    color: gold;
}
.navbar {
    margin-bottom: 10px;
}



